header {
	background-color: #1abc9c;
	color: #fff;
	text-align: center;
	padding: 20px;
}

main {
	margin: 20px;
}

p#welcome {
	font-size: 18px;
	line-height: 1.5;
}

.button {
	display: block;
	background-color: #3498db;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #2980b9;
}
